/* #region all */
.hidden {
    display: none;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
button {
    font-family: inherit;
    color: currentColor;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

img {
      display: block;
      max-width: 100%;
      height: auto;
  }
  
  /* #endregion */
  /* #region cont-device */
 .container {
    max-width: 288px;
    margin: 0 auto;
 }

@media screen and (min-width: 768px) {
.container {
    max-width: 736px;
}    
}

@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding: 0 15px;
    }
}
  /* #endregion */

/* #region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
}

.nav-list, 
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2E2F42;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.btn-sandvich {
    border: none;
    background-color: transparent;
    padding: 0;
}

.icon-sandvich {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
.page-header {
padding: 0 16px;
}
 
.btn-sandvich {
    display: none;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts {
    font-style: normal;
    display: block;    
}

.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: '';
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    width: 48px;
    height: 4px;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}

.contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (min-width: 1158px) {
.header-logo {
    margin-right: 76px;
}
.contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px; 
}

.contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}
/* #endregion */

/* #region mobile menu */

@media only screen and (min-width: 768px) {
.mobile-menu {
        display: none;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 50%;
    fill: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-list,
.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-nav-link.blue,
.mobile-contacts-link.blue {
    color: #404bbf;
}

.mobile-contacts-list {
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-contacts-link {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.mobile-social-list {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.mobile-social-list-link {
    width: 100%;
    height: 100%;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */


/* #region section 1 */
.hero {
    background-color: #2e2f42;
    color: #fff;
    max-width: 320px;
    padding-top: 72px;
    padding-bottom: 72px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.hero-button {
    display: block;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    color: #ffffff;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
}

/* Retina для мобильних */
@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile@2x.jpg);
    }
}

/* Планшет */
@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tablet.jpg);
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
}

/* Retina для планшету */
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tablet@2x.jpg);
    }
}

/* Десктоп */
@media screen and (min-width: 1158px) {
    .hero {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desktop.jpg);
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 48px;
        max-width: 496px;
    }
}

/* Retina для десктопу */
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desktop@2x.jpg);
    }
}
/* #endregion */
/* #region section 2 */
.features {
    padding: 96px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
    white-space: nowrap;
}

.features-icon {
    display: none;
}

.features-title-items {
    text-align: center;
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media only screen and (min-width:768px) {
.features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    width: 736px;
    justify-content: space-between;
}

.features-list-item {
    width: calc((100% - 48px) / 2);
}

.features-title-items {
    text-align: justify;
}
}

@media screen and (min-width: 1158px) {
.features {
    padding: 120px 0;
    margin-bottom: 0;
}

.features-list {
    min-width: 1128px;
    flex-wrap: nowrap;
    gap: 0 24px;
}

.features-icon {
    display: block;
}

.features-list-item {
    width: calc((100% - 24px * 3) / 4)
}

.features-title-items {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}
.container-features-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.features-text {
    font-weight: 400;
}
}
/* #endregion */

/* #region section 3 */
.team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px 0;
}

.team-card-text-container {
    padding: 32px 0;
}

.team-social-list-link:hover,
.team-social-list-link:focus {
    background-color: #404bbf;
    fill: #f4f4fd;

}
.team-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 264px;
}

.team-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-card-text {
    text-align: center;
    margin-bottom: 8px;
}

.team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-social-link {
    width: 40px;
    height: 40px;
}

.team-social-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.team-social-icon {
    display: block;
    fill: #f4f4fd;
}

@media screen and (max-width: 767px) {
    .team-list-item {
        margin: 0 auto;
    }
}

@media only screen and (min-width:768px) {
.team-list {
    display: flex;
        flex-direction: row;
        gap: 64px 24px;
        flex-wrap: wrap;
        justify-content: center;
}

}
@media only screen and (min-width:1158px) {
    .team {
    padding: 120px 0;
}
}
/* #endregion */
/* #region section 4 */
.portfolio {
    padding: 96px 0;
}

.portfolio-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-list-text {
    color: #434455;
}

.container-portfolio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.container-portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-list-item:hover .overlay {
    transform: translatey(0);
}

.overlay {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
}

@media only screen and (min-width:768px) {
.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: space-between;
}

.portfolio-list-item {
    width: calc((100% - 24px) / 2);
}
}

@media only screen and (min-width:1158px) {
.portfolio {
        padding: 120px 0;
    }

.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}
}
/* #endregion */
/* #region footer */
.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
}

.footer .logo {
    display: block;
    margin-bottom: 16px;
}

.logo-footer {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-social-container {
    margin: 0 auto;
}

.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-icons-list {
    display: flex;
    gap: 16px;
}

.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31d0aa;
}

.footer-icon-svg {
    display: block;
    fill: #F4F4FD;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-form-title {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

.form-input {
    display: block;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
}

.form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.subscribe-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;

    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    line-height: 1.5
}

.telegram-svg {
    display: block;
    fill: #fff;
    margin-left: 16px;
}

@media screen and (max-width: 767px) {
    .footer .container {
        gap: 72px 0;
    }

    .footer .logo,
    .social-text,
    .footer-form-title {
        text-align: center;
    }

    .footer-icons-list {
        margin: 0 auto;
    }

    .footer-form {
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        /* display: flex;
        align-items: baseline;
        justify-content: space-between; */
    }

    .footer-text-container {
        width: 264px;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
    }

    .form-input {
        width: 264px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer .container {
        padding-left: 92px;
    }

    .footer-social-container {
        margin-left: 24px;
    }

    .footer-text-container {
        margin-bottom: 72px;
    }

}

@media screen and (max-width: 1157px) {
    .form-input {
        opacity: 0.3;
    }

    .form-input::placeholder {
        opacity: 0.6;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer-text-container {
        margin-right: 120px;
    }

    .footer-social-container {
        margin-right: 80px;
    }
}

/* #endregion */

/* #region modal */
@media only screen and (min-width:768px) {
    .modal {
        max-width: 768px;
    }
}

@media only screen and (min-width:1158px) {

    .modal {
        max-width: 1158px;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 288px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
    overflow-y: auto;
}

.modal-overlay.is-open{
    opacity: 1;
    pointer-events: auto;
}

.button-modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-modal-close:hover,
.button-modal-close:focus {
    background-color: #404bbf;
    border: none;
}
.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:hover .icon-close,
.button-modal-close:focus .icon-close {
    fill: #ffffff;
}

.modal-text {
    font-weight: 500;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 16px;
}

.container-modal-label {
    margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.container-input-with-icon {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.icon-input {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus~.icon-input {
    fill: #4D5AE5;
}

.container-modal-coments {
    margin-bottom: 16px;
}

.modal-textarea {
    min-height: 120px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.container-modal-label-txt {
    margin-bottom: 16px;
}

.custom-checkbox {
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.form-user-checkbox .custom-checkbox {
    fill: #f4f4fd;
    background-color: #404bbf;
    border: none;
}

.form-user-checkbox {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17;
}

.label-text-container {
    display: inline-block;
    margin-left: 8px;
    width: 231px;
}

.custom-checkbox-icon {
    display: block;
}

.orange {
    display: inline-block;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.form-group {
    margin-bottom: 24px;
}

.btn-form {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
.modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 24px;
        width: 408px;
        min-height: 584px;
        background: #fcfcfc;
        border-radius: 4px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
    }
.label-text-container {
    width: 338px;
}
}
/* #endregion */