/* #region head */
  
/* #endregion */

/* #region body */
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
}
/* #endregion */

/* #region header */
.contacts {
    font-style: normal;
    margin-left: auto;
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}
.contacts-list-item:not(:last-child) {
    margin-right: 40px;
}



.logo-style {
    color: #2E2F42;
}

.nav-item-link, .nav-item-link-current
 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-item .nav-item-link:hover,
.contacts-list .contacts-list-item-link:hover, .nav-item .nav-item-link-current:hover
.nav-item .nav-item-link:focus,
.contacts-list .contacts-list-item-link:focus, .nav-item .nav-item-link-current:focus {
    color: #404bbf;
    position: relative;
}

.contacts {
    font-style: normal;
}

.contacts-list {}

.contacts-list-item-link {
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-item .nav-item-link-current:hover::after, .nav-item .nav-item-link-current:focus::after{
    content: '';
    position: relative;
    display: block;
    border-radius: 2px;
    background-color: #404bbf;
    width: 48px;
    height: 4px;
    margin-top: 20px;
    margin: 0 auto;
    width: 100%;
    bottom: -1px;
    
}

/* #endregion */

/* #region section 1*/
.hero {
    background-color: #2e2f42;
    color: #fff;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip: padding-box;   
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-button {
    display: block;
    border: none;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    background: #4d5ae5;
    cursor: pointer;
    color: #ffffff;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* #endregion */

/* #region section 2*/
.features {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
    white-space: nowrap;
}

.features-list {
    display: flex;
}

.features-list-item {
    width: calc((100% - 24px * 3) / 4)
}

.features-list-item:not(:last-child) {
    margin-right: 24px;
}

.features-title-items {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
}

.container-features-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;

}

.features-link {}

.feauteres-icon {}

/* #endregion */

/* #region section 3*/
.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    margin-bottom: 72px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card-text-container {
    padding: 32px 0;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-img {}

.team-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-card-text {
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-social-list-link {
    width: 100%;
    height: 100%;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-link:hover,
.team-social-list-link:focus {
    background-color: #404bbf;
    fill: #f4f4fd;
    
}

/* #endregion */

/* #region section 4*/
.portfolio {
    background-color: #FFFFFF;
    padding: 120px 0;
}

.portfolio-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;   
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-img {}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-text {
    color: #434455;
}
.container-portfolio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.container-portfolio-img {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay {
    transform: translatey(0);
}

.overlay {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
}


/* #endregion */

/* #region footer*/
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    justify-content: center;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text, .social-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container-footer-logo {
    display: inline-block;
    margin-right: 120px;
    white-space: nowrap;
    width: fit-content;
}
.social-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.footer-social-list {
    display: flex;
    gap: 16px;
}
.footer-social-list-link {
    width: 100%;
    height: 100%;
    width: 40px;
    height: 40px;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover, .footer-social-list-link:focus {
    background-color: #31d0aa;
    fill: #f4f4fd;
}

.footer-form-container {
    display: flex;
    margin-left: 80px;
    flex-direction: column
}

.form {
    display: flex;
    gap: 24px;
}

.form-label {}

.form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}

.form-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    color: #ffffff;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    letter-spacing: 0.04em;
    border: none;
}
.footer-button-icon {
    fill: #ffffff;
    margin-left: 16px;
}

.form-input::placeholder {
    color: #ffffff;
    opacity: 1;
}

/* #endregion */
/* #region modal-w*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.button-modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-modal-close:hover,
.button-modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:hover .icon-close,
.button-modal-close:focus .icon-close {
    fill: #ffffff;
}

.modal-text {
    font-weight: 500;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.container-modal-label {
    margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: block;
    margin-bottom: 4px;
}

.container-input-with-icon {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus{
    border-color: #4D5AE5;
}

.icon-input {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus~ .icon-input {
    fill: #4D5AE5;
}

.container-modal-coments {
    margin-bottom: 16px;
}

.modal-textarea {
    min-height: 120px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {  
    border-color: #4D5AE5;
}

.container-modal-label-txt {
    margin-bottom: 16px;
}

.custom-checkbox {
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.form-user-checkbox .custom-checkbox  {
    fill: #f4f4fd;
    background-color: #404bbf;
    border: none;
}

.form-user-checkbox {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17;
}

.custom-checkbox-icon {}

.orange {
    color:#4d5ae5;
    text-decoration: underline;
}

.form-group {
    margin-bottom: 24px;
}

.btn-form {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    display: block;
    margin-left: 95px;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */